flows.json
[
    {
        "id": "d7e32b27766cdb0f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "98a2f394a8afd84f",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.200.10",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "1000",
        "timeout": "2000",
        "name": "S7-1215C",
        "vartable": [
            {
                "addr": "DB1,X0.0",
                "name": "START"
            },
            {
                "addr": "DB1,X0.1",
                "name": "STOP"
            },
            {
                "addr": "DB1,X2.0",
                "name": "CMD_RUN"
            }
        ]
    },
    {
        "id": "2509358e29f3150c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6e837f451f662032",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "48da570ba0a7f4da",
        "type": "ui_group",
        "name": "Status Machine",
        "tab": "2509358e29f3150c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "06b0c60a662bf82a",
        "type": "s7 out",
        "z": "d7e32b27766cdb0f",
        "endpoint": "98a2f394a8afd84f",
        "variable": "START",
        "name": "",
        "x": 1100,
        "y": 900,
        "wires": []
    },
    {
        "id": "0ca583804e703547",
        "type": "s7 out",
        "z": "d7e32b27766cdb0f",
        "endpoint": "98a2f394a8afd84f",
        "variable": "STOP",
        "name": "",
        "x": 1070,
        "y": 960,
        "wires": []
    },
    {
        "id": "bb23d456e20b6abc",
        "type": "s7 in",
        "z": "d7e32b27766cdb0f",
        "endpoint": "98a2f394a8afd84f",
        "mode": "single",
        "variable": "CMD_RUN",
        "diff": false,
        "name": "",
        "x": 760,
        "y": 1180,
        "wires": [
            [
                "05cf25206ce2d8cc",
                "9c6d696dcc46f5e3"
            ]
        ]
    },
    {
        "id": "70e32b90b8a6bcdd",
        "type": "ui_text_input",
        "z": "d7e32b27766cdb0f",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "48da570ba0a7f4da",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1180,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "START_BUTTON",
        "type": "ui_button",
        "z": "d7e32b27766cdb0f",
        "name": "START",
        "group": "48da570ba0a7f4da",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "START",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 700,
        "y": 860,
        "wires": [
            [
                "trigger_node"
            ]
        ]
    },
    {
        "id": "STOP_BUTTON",
        "type": "ui_button",
        "z": "d7e32b27766cdb0f",
        "name": "STOP",
        "group": "48da570ba0a7f4da",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 700,
        "y": 960,
        "wires": [
            [
                "ccc465abb34f071e"
            ]
        ]
    },
    {
        "id": "trigger_node",
        "type": "trigger",
        "z": "d7e32b27766cdb0f",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "num",
        "duration": "200",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 900,
        "y": 910,
        "wires": [
            [
                "06b0c60a662bf82a"
            ]
        ]
    },
    {
        "id": "ccc465abb34f071e",
        "type": "trigger",
        "z": "d7e32b27766cdb0f",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "num",
        "duration": "200",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 900,
        "y": 960,
        "wires": [
            [
                "0ca583804e703547"
            ]
        ]
    },
    {
        "id": "05cf25206ce2d8cc",
        "type": "function",
        "z": "d7e32b27766cdb0f",
        "name": "",
        "func": "if (msg.payload == 1) {\n    msg.payload = \"Running\";\n} else {\n    msg.payload = \"Stopped\";\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 1180,
        "wires": [
            [
                "70e32b90b8a6bcdd"
            ]
        ]
    },
    {
        "id": "9c6d696dcc46f5e3",
        "type": "ui_led",
        "z": "d7e32b27766cdb0f",
        "order": 4,
        "group": "48da570ba0a7f4da",
        "width": 0,
        "height": 0,
        "label": "Motor Status",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 950,
        "y": 1240,
        "wires": []
    }
]